set noshowmode " Don't show the mode
set tabstop=2
set clipboard=unnamed
set autoindent
set shiftwidth=2
set number
set cursorline
set hlsearch
set incsearch
set wildmenu

" Disable hover over tips
if exists('+ballooneval')
  " This doesn't seem to stop tooltips for Ruby files
  set noballooneval
  " 100 second delay seems to be the only way to disable the tooltips
  set balloondelay=100000
endif

" Highlight search
set hlsearch
" show matching brackets
set showmatch
" Yank entire buffer
nnoremap gy :0,$ y<cr>
" select entire buffer
nnoremap vy ggVG
nnoremap Y y$

" Beginning and end of lines is easier
noremap H ^
noremap L $

" remap U to <C-r> for easier redo
nnoremap U <C-r>


imap aa <esc>

" Insert mode at line above
nmap <Leader><CR> O<Esc>

" Insert mode at line below
nmap <CR> o<Esc>

" Command mode alternative
nmap ; :

let mapleader = "§"

